/*PONGO EL CSS AQUI PORQUE DENTRO DE LA CARPETA CSS ME DA ERROR*/

a {
    text-decoration: none;
    color: black;
}

.acierto {
    color: green;
}

.error {
    color: red;
}

body {
    background-color:cyan;
}

